.card-text--sku {
    font-weight: bold !important;
    color: #D14343 !important;
}

.card-title {
    font-size: 20px !important;
}

.price-primary {
    font-size: 20px !important;
    color: #333333 !important;
}

.price-primary+abbr {
    color: #333333 !important;
}

.productView-info-name--sku {
    font-weight: bold !important;
    color: #D14343 !important;
    font-size: 20px !important;
}

.productView-product {
    display: flex !important;
    flex-direction: column !important;
}

.productView-rating {
    order: 4 !important;
}