.card-text--sku {
    font-weight: bold;
    color: $price-primary-color !important;
}

.card-title {
    font-size: fontSize("larger");
}

.price-primary {
    font-size: unset;
    color: $header-font-color !important;
}

.price-primary+abbr {
    color: stencilColor("color-textHeading");
}

.productView-info-name--sku {
    font-weight: bold !important;
    color: stencilColor("color-primary") !important;
    font-size: $fontSize-small !important;
}

.productView-price {
    .price-primary {
        font-size: $fontSize-small;
        color: stencilColor("color-textHeading");
    }
}

.productView-product {
    display: flex;
    flex-direction: column;
}

.productView-rating {
    order: 4;
}