.card-text--sku {
    font-weight: bold !important;
    color: #D14343 !important;
}

.card-title {
    font-size: 20px !important;
}

.price-primary {
    color: #333333 !important;
}

.price-section--primary {
    font-weight: normal !important;
}

.price-primary+abbr {
    color: #333333 !important;
}

.productView-info-name--sku {
    font-weight: bold !important;
    color: #D14343 !important;
    font-size: 20px !important;
}

.productView-info-value--sku {
    font-weight: bold !important;
    color: #D14343 !important;
    font-size: 20px !important;
}

.productView-product {
    display: flex !important;
    flex-direction: column !important;
}

.productView-rating {
    order: 4 !important;
}

.button--compare {
    height: auto !important;
}

h6 {
    font-size: 14px !important;
}

h5 {
    font-size: 17px !important;
}

.card-section {
    font-size: 13px !important;
}

.productView-price {
    font-size: 17px !important;
}

.footer-info-list {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
}

@media (min-width: 551px) {
    .footer-info-list {
        height: 300px!important;
    }
}

.footer-info-col--small {
    flex-grow: 1 !important;
}

.page .page-heading {
        display: none !important;
}

.breadcrumbs {
    display: none !important;
}

.price-primary {
    font-size: unset !important;
}

.footer-info-col--subscription {
    flex-grow: 1 !important;
    width: 16.66667% !important;
}